In [1]:
import pandas as pd

data = pd.read_csv('train.csv',index_col=0)
data.head()

,BertzCT,Chi1,Chi1n,Chi1v,Chi2n,Chi2v,Chi3v,Chi4n,EState_VSA1,EState_VSA2,...,SlogP_VSA3,VSA_EState9,fr_COO,fr_COO2,EC1,EC2,EC3,EC4,EC5,EC6
id,,,,,,,,,,,,,,,,,,,,,
0,323.390782,9.879918,5.875576,5.875576,4.304757,4.304757,2.754513,1.749203,0.000000,11.938294,...,4.794537,35.527357,0,0,1,1,0,0,0,0
1,273.723798,7.259037,4.441467,5.834958,3.285046,4.485235,2.201375,1.289775,45.135471,0.000000,...,13.825658,44.707310,0,0,0,1,1,0,0,0
2,521.643822,10.911303,8.527859,11.050864,6.665291,9.519706,5.824822,1.770579,15.645394,6.606882,...,17.964475,45.660120,0,0,1,1,0,0,1,0
3,567.431166,12.453343,7.089119,12.833709,6.478023,10.978151,7.914542,3.067181,95.639554,0.000000,...,31.961948,87.509997,0,0,1,1,0,0,0,0
4,112.770735,4.414719,2.866236,2.866236,1.875634,1.875634,1.036450,0.727664,17.980451,12.841643,...,9.589074,33.333333,2,2,1,0,1,1,1,0

In [2]:
data

,BertzCT,Chi1,Chi1n,Chi1v,Chi2n,Chi2v,Chi3v,Chi4n,EState_VSA1,EState_VSA2,...,SlogP_VSA3,VSA_EState9,fr_COO,fr_COO2,EC1,EC2,EC3,EC4,EC5,EC6
id,,,,,,,,,,,,,,,,,,,,,
0,323.390782,9.879918,5.875576,5.875576,4.304757,4.304757,2.754513,1.749203,0.000000,11.938294,...,4.794537,35.527357,0,0,1,1,0,0,0,0
1,273.723798,7.259037,4.441467,5.834958,3.285046,4.485235,2.201375,1.289775,45.135471,0.000000,...,13.825658,44.707310,0,0,0,1,1,0,0,0
2,521.643822,10.911303,8.527859,11.050864,6.665291,9.519706,5.824822,1.770579,15.645394,6.606882,...,17.964475,45.660120,0,0,1,1,0,0,1,0
3,567.431166,12.453343,7.089119,12.833709,6.478023,10.978151,7.914542,3.067181,95.639554,0.000000,...,31.961948,87.509997,0,0,1,1,0,0,0,0
4,112.770735,4.414719,2.866236,2.866236,1.875634,1.875634,1.036450,0.727664,17.980451,12.841643,...,9.589074,33.333333,2,2,1,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14833,632.207041,10.911303,6.579933,9.179964,4.653583,6.030052,3.670528,1.770579,32.971529,6.606882,...,18.947452,61.376610,0,0,1,1,0,0,0,0
14834,62.568425,2.642734,1.446898,1.446898,0.879497,0.879497,0.174620,0.000000,0.000000,0.000000,...,0.000000,10.000000,0,0,0,1,0,1,0,0
14835,981.327476,10.363081,6.146219,6.146219,4.700576,4.700576,3.064846,2.133897,17.248535,0.000000,...,0.000000,66.666667,0,0,1,1,0,0,0,0
14836,299.171248,9.949161,6.589761,7.848913,5.276568,5.476436,3.978973,2.299833,45.623794,0.000000,...,9.088795,45.583333,0,0,0,1,1,0,0,0
14837,785.394062,15.671142,9.896164,10.234264,7.860296,8.522605,5.645502,3.312893,82.448246,5.687386,...,22.701338,71.127044,0,0,0,1,0,1,0,0

In [3]:
y_cols = list(data.columns).index('fr_COO')
X,Y = data.iloc[:,:y_cols],data[data.columns[y_cols:]]
X.head(),Y.head()

(       BertzCT       Chi1     Chi1n      Chi1v     Chi2n      Chi2v     Chi3v  \
 id
 0   323.390782   9.879918  5.875576   5.875576  4.304757   4.304757  2.754513
 1   273.723798   7.259037  4.441467   5.834958  3.285046   4.485235  2.201375
 2   521.643822  10.911303  8.527859  11.050864  6.665291   9.519706  5.824822
 3   567.431166  12.453343  7.089119  12.833709  6.478023  10.978151  7.914542
 4   112.770735   4.414719  2.866236   2.866236  1.875634   1.875634  1.036450

        Chi4n  EState_VSA1  EState_VSA2  ...  NumHeteroatoms  PEOE_VSA10  \
 id                                      ...
 0   1.749203     0.000000    11.938294  ...               4    0.000000
 1   1.289775    45.135471     0.000000  ...              10   24.415866
 2   1.770579    15.645394     6.606882  ...               9    0.000000
 3   3.067181    95.639554     0.000000  ...              19   42.727765
 4   0.727664    17.980451    12.841643  ...               4    6.041841

     PEOE_VSA14  PEOE_VSA6  PEOE_VSA7  PEOE_VSA8  SMR_VSA10   SMR_VSA5  \
 id
 0    91.536492   0.000000   0.000000   0.000000  17.744066   0.000000
 1     7.822697   0.000000   0.000000   0.000000   7.822697  30.705892
 2    15.645394   0.000000  53.378235   0.000000  15.645394  73.143616
 3    21.335138   0.000000   0.000000   6.420822  15.645394  62.107304
 4    11.938611   6.923737  19.386400   0.000000  11.938611  18.883484

     SlogP_VSA3  VSA_EState9
 id
 0     4.794537    35.527357
 1    13.825658    44.707310
 2    17.964475    45.660120
 3    31.961948    87.509997
 4     9.589074    33.333333

 [5 rows x 29 columns],
     fr_COO  fr_COO2  EC1  EC2  EC3  EC4  EC5  EC6
 id
 0        0        0    1    1    0    0    0    0
 1        0        0    0    1    1    0    0    0
 2        0        0    1    1    0    0    1    0
 3        0        0    1    1    0    0    0    0
 4        2        2    1    0    1    1    1    0)

In [4]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=.20)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.multioutput import MultiOutputClassifier

log = MultiOutputClassifier(SVC(kernel='linear'))

log.fit(x_train,y_train)