In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load data
train=pd.read_csv('train.csv')
train.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [3]:
# splitting X & Y
X,Y=train[['row_id','cfips','first_day_of_month']],train.microbusiness_density

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122265 entries, 0 to 122264
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   row_id              122265 non-null  object
 1   cfips               122265 non-null  int64
 2   first_day_of_month  122265 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.8+ MB

In [5]:
# X['cfips']=X['cfips'].astype(str)
X.first_day_of_month=pd.to_datetime(X.first_day_of_month,yearfirst=True)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122265 entries, 0 to 122264
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   row_id              122265 non-null  object
 1   cfips               122265 non-null  int64
 2   first_day_of_month  122265 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 2.8+ MB

In [6]:
# Set Datetime index,

X.set_index(pd.DatetimeIndex(X.first_day_of_month,yearfirst=True),inplace=True)
X.drop('first_day_of_month',axis=1,inplace=True)
X

                              row_id  cfips
first_day_of_month
2019-08-01           1001_2019-08-01   1001
2019-09-01           1001_2019-09-01   1001
2019-10-01           1001_2019-10-01   1001
2019-11-01           1001_2019-11-01   1001
2019-12-01           1001_2019-12-01   1001
...                              ...    ...
2022-06-01          56045_2022-06-01  56045
2022-07-01          56045_2022-07-01  56045
2022-08-01          56045_2022-08-01  56045
2022-09-01          56045_2022-09-01  56045
2022-10-01          56045_2022-10-01  56045

[122265 rows x 2 columns]

In [7]:
X.describe(include='all')

                 row_id          cfips
count            122265  122265.000000
unique           122265            NaN
top     1001_2019-08-01            NaN
freq                  1            NaN
mean                NaN   30376.037640
std                 NaN   15143.508721
min                 NaN    1001.000000
25%                 NaN   18177.000000
50%                 NaN   29173.000000
75%                 NaN   45077.000000
max                 NaN   56045.000000

In [8]:
X.cfips.value_counts()

1001     39
39133    39
39089    39
39091    39
39093    39
         ..
21113    39
21115    39
21117    39
21119    39
56045    39
Name: cfips, Length: 3135, dtype: int64

<div class='tableauPlaceholder' id='viz1672589722350' style='position: relative'><noscript><a href='#'><img alt='                                                   Time Unique Values  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mi&#47;MicroBusiness&#47;Uniquevalueinyear_1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='MicroBusiness&#47;Uniquevalueinyear_1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mi&#47;MicroBusiness&#47;Uniquevalueinyear_1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1672589722350');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='1250px';vizElement.style.maxWidth='1550px';vizElement.style.width='100%';vizElement.style.height='887px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='1250px';vizElement.style.maxWidth='1550px';vizElement.style.width='100%';vizElement.style.height='887px';} else { vizElement.style.width='100%';vizElement.style.height='827px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [9]:
X.index.value_counts()

2019-08-01    3135
2022-01-01    3135
2021-06-01    3135
2021-07-01    3135
2021-08-01    3135
2021-09-01    3135
2021-10-01    3135
2021-11-01    3135
2021-12-01    3135
2022-02-01    3135
2021-04-01    3135
2022-03-01    3135
2022-04-01    3135
2022-05-01    3135
2022-06-01    3135
2022-07-01    3135
2022-08-01    3135
2022-09-01    3135
2021-05-01    3135
2021-03-01    3135
2019-09-01    3135
2020-05-01    3135
2019-10-01    3135
2019-11-01    3135
2019-12-01    3135
2020-01-01    3135
2020-02-01    3135
2020-03-01    3135
2020-04-01    3135
2020-06-01    3135
2021-02-01    3135
2020-07-01    3135
2020-08-01    3135
2020-09-01    3135
2020-10-01    3135
2020-11-01    3135
2020-12-01    3135
2021-01-01    3135
2022-10-01    3135
Name: first_day_of_month, dtype: int64

In [10]:
X.index.month.value_counts()

8     12540
9     12540
10    12540
11     9405
12     9405
1      9405
2      9405
3      9405
4      9405
5      9405
6      9405
7      9405
Name: first_day_of_month, dtype: int64

In [11]:
X.index.day.value_counts()

1    122265
Name: first_day_of_month, dtype: int64

In [12]:
# # Cannot resample :((((
# x=X.resample('M')
# x.sum()

In [13]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

X['row_id']=LabelEncoder().fit_transform(X[['row_id']])
X_cfips=pd.DataFrame(StandardScaler().fit_transform(X[['cfips']]),columns=['cfips'])

In [14]:
# X_cfips=X[['cfips']]
X_cfips

           cfips
0      -1.939785
1      -1.939785
2      -1.939785
3      -1.939785
4      -1.939785
...          ...
122260  1.695054
122261  1.695054
122262  1.695054
122263  1.695054
122264  1.695054

[122265 rows x 1 columns]

In [15]:
Y

0         3.007682
1         2.884870
2         3.055843
3         2.993233
4         2.993233
            ...
122260    1.803249
122261    1.803249
122262    1.785395
122263    1.785395
122264    1.785395
Name: microbusiness_density, Length: 122265, dtype: float64

In [16]:
list_x=[]
list_y=[]

end =3
for i in range(len(Y)):
    if end>=len(Y):
        break
    list_x.append(Y[i:end])
    l

NameError: name 'l' is not defined

In [ ]:
# Test Data
test=pd.read_csv('test.csv')
test.head()

In [ ]:
test.shape

In [ ]:
test.